<?xml version="1.0" encoding="utf-8"?>
<manifest package="pitman.co.za.bakingapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <!--https://stackoverflow.com/questions/20819019/why-is-ondestroy-always-called-when-returning-to-parent-activity-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".RecipeSkeletonActivity"
            android:label="@string/recipe_overview"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop">
            <!--https://stackoverflow.com/questions/20819019/why-is-ondestroy-always-called-when-returning-to-parent-activity-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pitman.co.za.bakingapp.MainActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".RecipeIngredientsActivity"
            android:label="@string/ingredients_listing"
            android:parentActivityName=".RecipeSkeletonActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pitman.co.za.bakingapp.RecipeSkeletonActivity"/>
        </activity>

        <activity
            android:name=".RecipeStepActivity"
            android:label="@string/recipe_steps"
            android:parentActivityName=".RecipeSkeletonActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pitman.co.za.bakingapp.RecipeSkeletonActivity"/>
        </activity>

    </application>

</manifest>